<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h4>Todo List:</h4>
    <form ng-submit='addTask()'>
      <div class='form-group'>
        <input type="text" ng-model='newTask'
               class='form-control' />
      </div>
      <input type='submit' class='btn
      btn-primary' value='Add Task'>
    </form>
  </div>
</div>
<hr/>
<div ng-repeat='task in taskList'>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <td class='td-desc'>
          <div class='description' ng-class='{ strike: task.done }'>
            <input type="checkbox" class='checkboxTask' ng-model='task.done'/>
            {{ task.description }}
          </div>
        </td>
        <td>
          <button class='btn btn-danger delete-button' ng-click='deleteTask($index)'>Delete</button>
        </td>
      </table>
    </div>
  </div>
  <hr/>
</div>
<div class='pending'>
  {{ pendingCount }} left in your todo list.
</div>
